/*Amirul Sunesara B00813456*/

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  h5 {
    color: #0e6382;
  }
  h4 {
    color: #0e6382;
  }
  h3 {
    color: #0e6382;
  }
  h2 {
    color: #0e6382;
  }
  footer {
    background-color: #dce7ea;
    color: #000;
  }
  .dropdown-menu {
    width: 250px !important;
    width: 250px !important;
  }
  div {
    padding-top:0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }