<!doctype html>
<html lang="en">

	<head>

		<!-- Required metadata --> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap --> 
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script  src="js/updateEmail_api.js"></script>
		<script  src="js/updatePassword_api.js"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- Custom CSS--> 
		<link rel="stylesheet" href = "./style.css">
		
		<!-- This is a google font --> 
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
		
		<title>Edit Profile</title>
		<style>
			body {
				font-family: Arial, Helvetica, sans-serif;
			}
			h5 {
				color: #0e6382;
			}
			h4 {
				color: #0e6382;
			}
			h3 {
				color: #0e6382;
			}
			h2 {
				color: #0e6382;
			}
			footer {
				background-color: #dce7ea;
				color: #000;
			}
			.dropdown-menu {
				width: 250px !important;
				width: 250px !important;
			}
			div {
				padding-top:0px;
				padding-right: 10px;
				padding-bottom: 0px;
				padding-left: 10px;
			}
		</style>
	  </head>
  
	<body >
  
		<!-- Header Images -->
		<!-- The following link was helpful in determining how to properly use bootstrap columns:
		https://hackerthemes.com/bootstrap-cheatsheet/#col
		-->
	  <div class="container">
    <!-- Bootstrap Documentation: https://getbootstrap.com/docs/4.0/components/navbar/ -->
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			  <a class="navbar-brand" href="#">Donor+</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" style="padding-left: 0px; padding-right: 0px;" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
				  </ul>
				  <button type="button" style="float:right; margin-top: 5px;" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>

				  <div class="btn-group nav top-nav">
					  <!-- Bootstrap Documentation: https://getbootstrap.com/docs/4.0/components/dropdowns/ -->

					  <div class="dropdown-menu dropdown-menu-right">

						  <ul class="nav top-nav">
							  <li class="dropdown show" style="margin-right: 56px;">

								  <ul class="dropdown-menu show">
									  <li><a href="#" style="text-decoration:none;"> Notification Settings</a></li>
									  <li><a href="#" style="text-decoration:none;"> Change Password</a></li>
									  <li><a href="index.html" style="text-decoration:none;"> Logout</a></li>
								  </ul>
							  </li>
						  </ul>

					  </div>
				  </div>
			  </div>
		  </nav>
  </div>
		
		<div class = "home_div" style = "font-family: 'Roboto Slab', sans-serif;">
		
			<h1> Edit Profile </h1>
			
			<!-- The following link was helpful in determining how to properly work with bootstrap forms: -->
			<!-- https://getbootstrap.com/docs/4.0/components/forms/ --> 
			
			<!-- This link was helpful in understanding how javascript can be used to update text fields -->
			<!-- https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_prompt -->
			<form>
			
				<div class = "form-group row">
				
					<label for="username" class="col-sm-2 col-form-label">Username</label>
					<div class="col-sm-10">
						<input type="text" class="form-control-plaintext" id="username" placeholder="CSCI5709Admin" readonly>
					</div>
				
				</div>
				
				<div class = "form-group row">
				
					<label for="email" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="email" placeholder="CSCI5709Admin@gmail.com" readonly>
					</div>
					
					<div>
						<button type="button" class="btn btn-primary" onclick="updateEmail()">Update Email</button>
					</div>
				
				</div>
				
				<div class = "form-group row">
				
					<label for="password" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" placeholder="**********" readonly>
					</div>
					
					<div>
						<button type="button" class="btn btn-primary" onclick="updatePassword()">Update Password</button>
					</div>
				
				</div>			
	
			</form>
			
			<!-- The style below comes from this link: https://hackerthemes.com/bootstrap-cheatsheet/#flex-row -->
			<footer id="footer" class="footer" style="position:fixed; overflow: hidden; bottom: 0; width:100%;">
				<div class="container">
					<div class="row">
						<div class="col-sm-7">
							<br><h5>Questions? Drop in your email and we'll get in touch with you!</h5>
						</div>
						<div class="col-sm-5">
							<div style="margin-top: 10px;">
								<form class="form-inline">

									<div style="float: left; width: 100%">       <input style="" class="form-control" type="email" placeholder="Enter Email" required>  <button onclick="contact()" style="" class="btn btn-info my-2 my-sm-0" type="submit">Subscribe</button>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>
	
	</body>
</html>