<!doctype html>
<html lang="en">

<head>

	<!-- Required metadata -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="js/updateEmail_api.js"></script>
	<script src="js/updatePassword_api.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Custom CSS-->
	<link rel="stylesheet" href="./style.css">

	<!-- This is a google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

	<title>Edit Profile</title>

	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}

		h5 {
			color: #0e6382;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
			background-color: #dce7ea;
			color: #000;
		}
	</style>

</head>

<body> <br><br><br>

	<!-- Header Images -->
	<!-- The following link was helpful in determining how to properly use bootstrap columns:
		https://hackerthemes.com/bootstrap-cheatsheet/#col
		-->
	<div class="container">
		<!-- Bootstrap Documentation: https://getbootstrap.com/docs/4.0/components/navbar/ -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">Donor+</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="signup">Signup</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="help">Help</a>
					</li>
				</ul>				
			</div>
		</nav>
	</div>

	<div class="container mainContent">
		<div class="row">
			<h1 class="display-4 mx-auto" id="lblSignupHeading">Forgot your password</h1>
		</div>
		<hr>
		<div class="row" id="step1">
			<div class="col-md-6 mx-auto">
				<form id="frmGetSecurityCode">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<input type="email" id="txtEmail" name="email" class="form-control"
									placeholder="Your Email *" value="" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input id="btnGetSecurityCode" type="button" class="btn btn-outline-primary btn-block"
									value="Get Security Code" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" name="txtSecurityCode" id="txtSecurityCode" class="form-control"
							placeholder="Enter security code *" value="" disabled="disabled" />
					</div>
					<div class="row">
						<input id="btnSubmitSecurityCode" type="button" class="btn btn-primary mx-auto" value="Next" />
					</div>
				</form>
			</div>
		</div>

		<!--https://getbootstrap.com/docs/4.0/components/modal/ -->
		<div class="modal fade" id="ForgetSuccessModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle">Title</h5>
					</div>
					<div class="modal-body" id="modalText">
					</div>
					<div class="modal-footer">
						<button id="btnRedirect" type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="loginSuccessModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Success</h5>
					</div>
					<div class="modal-body">
						Successfully Login to system
					</div>
					<div class="modal-footer">
						<button id="btnRedirectDashboard" type="button" data-dismiss="modal"
							class="btn btn-primary">Ok</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="loginFailureModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Error</h5>
					</div>
					<div class="modal-body">
						Invalid login credentials. Please re-enter you user name and password.
					</div>
					<div class="modal-footer">
						<button id="btnRedirectIndex" type="button" data-dismiss="modal"
							class="btn btn-primary">Ok</button>
					</div>
				</div>
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>
	</div>

	<!-- The style below comes from this link: https://hackerthemes.com/bootstrap-cheatsheet/#flex-row -->
	<br><br><br><br>

	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<br>
					<h5>Subscribe to Donor+ for weekly donations!</h5>
				</div>
				<div class="col-sm-4">
					<form class="form-inline">
						<br><br><br>
						<input class="form-control mr-sm-2" id="email" type="email" placeholder="Enter Email" required>
						<button onclick="subscribe()" class="btn btn-info my-2 my-sm-0" type="submit">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>