<!-- Author: Jay Sharma (B00824331) -->

<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/importer.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <!-- From Tutorial 2 -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjbyGu4GTaz7Kg3LgB_sQ9pSJIM33PbQg&libraries=places&callback=autofill_address" async defer></script>
  <script  src="js/validate_form.js"></script>
  <script  src="js/autoaddress_api.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script  src="js/subscribe_api.js"></script>
  <script  src="js/login_api.js"></script>
  <script  src="js/reserve_api.js"></script>

  <title>Inventory</title>

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    h5 {
      color: #0e6382;
    }
    h4 {
      color: #0e6382;
    }
    h3 {
      color: #0e6382;
    }
    h2 {
      color: #0e6382;
    }
    footer {
      background-color: #dce7ea;
      color: #000;
    }
    .dropdown-menu {
      width: 250px !important;
    }
    div {
      padding-top:0px;
      padding-right: 10px;
      padding-bottom: 0px;
      padding-left: 10px;
    }
  </style>

</head>

<body>

  <div class="container">
    <!-- Bootstrap Documentation: https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Donor+</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="help">Help</a>
          </li>
        </ul>


        &nbsp;&nbsp;<button onclick="rss('')" type="button" class="btn btn-outline-light">RSS</button>

        <!-- https://getbootstrap.com/docs/4.0/components/dropdowns/ -->
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
          <div class="dropdown-menu dropdown-menu-right">
            <form name="loginForm" action = "./dashboard" onsubmit="return(login());" method = "post" >
              <div class="form-group">
                <h6>Username/Email</h6>
                <input name="username" type="email" class="form-control mb-2 mr-sm-2" id="dropemail" placeholder="email@example.com" required>
              </div>
              <div class="form-group">
                <h6>Password</h6>
                <input name = "password" type="password" class="form-control mb-2 mr-sm-2" id="droppassword" placeholder="Password" required>
              </div>
              <div class="form-check">
                <input type="checkbox" class="mr-auto form-check-input" id="dropdownCheck">
                <label class="form-check-label mr-auto" for="dropdownCheck">Remember me</label><br>
              </div>
              <input class="btn btn-primary mr-auto" type="submit" value = "Sign in">
              <!-- https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html -->
              <button type="button" onclick="window.location.href = './forgot';" class="btn mr-auto btn-warning mt-3">Forgot Password? </button><br>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div><br><br><br>

  <!-- START: Added by Jonathan Harris B00418947 -->
  <form action="/results" method="post">
		<div class="input-group">
			<input  name="query" class="form-control" style="border-radius: 4px" type="text" id="query" placeholder="Search for donations" required>
			<div class="input-group-btn">
				<button value="searchButton" id="searchButton" class="btn btn-info" type="submit">Search</button>
			</div>
		</div>
	</form>
  <!-- END: Added by Jonathan Harris B00418947 -->

  <!-- https://blog.joeandrieu.com/2013/10/16/how-to-conditionally-display-variables-with-ejs/ -->
  <!-- https://github.com/tj/ejs/issues/90 -->
  
  <% if (typeof alertMessage == 'object' && alertMessage){ %>
  <h2 style="text-align: center;"> <%= alertMessage %> </h2>
  <% } %>

  <div class="modal fade" id="reserve_item" tabindex="-1" role="dialog" aria-labelledby="reserve_item" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Item Reservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
        <div class="modal-body">
          Please enter your email id below to reserve this item:
          <input name="email_res" type="email" class="form-control mb-2 mr-sm-2" id="email_res" placeholder="email@example.com" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button onclick="reserve()" type="submit" class="btn btn-primary">Reserve</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"58ef12f161f2c7678d78ab109","lid":"1e3b555ea4","uniqueMethods":true}) })</script>

  <div class="mr-auto"><h2 class="mr-auto" style="text-align: center;">Atlantic Superstore</h2><br></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item1.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Sabra Hummus</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item5.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Kurkure</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item9.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Mama Noodles</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

        </div>

        <div class="col-sm-3">

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item2.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Coconut Milk</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item6.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Mango Tofu</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item10.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Coconut Water</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

        </div>

        <div class="col-sm-3">

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item3.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Shrimp Crackers</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item7.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Chick Peas</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>
          
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item11.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Plantain Chips</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

        </div>

        <div class="col-sm-3">

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item4.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Ginger Beer</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item8.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">BillyBee Honey</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://donorplus.azurewebsites.net/images/item12.png" alt="Card image cap">
            <div class="card-body">
              <center><button type="button" class="btn btn-outline-dark" disabled>Available: 15</button></center>
              <center><h5 class="card-title mt-2">Icelandic Water</h5></center>
              <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve_item">Reserve Item</button></center>
            </div>
          </div><br>

        </div>

      </div>
    </div>


<footer id="footer" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <br><h5>Subscribe to Donor+ for weekly donations!</h5>
          </div>
          <div class="col-sm-4">
            <form class="form-inline">
              <br><br><br>
              <input class="form-control mr-sm-2" id="email" type="email" placeholder="Enter Email" required>
              <button onclick="subscribe()" class="btn btn-info my-2 my-sm-0" type="submit">Subscribe</button>
            </form>
          </div>
        </div>
    </div>
    </footer>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>

</html>